[Unit]
Description=Prometheus

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
ExecStart=/usr/bin/prometheus --config.file /etc/prometheus/prometheus.yml --storage.tsdb.path /opt/prometheus-setup/

[Install]
WantedBy=multi-user.target
